body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/*----------------- Custom - CSS -----------------*/

.div-header { 
background-color: #b41018;
height: 75px;
padding: 2% 0;
}

.div-header h3 { 
  color:white;
  text-align: center;
}


.job-div {
  width:70%;
  background: beige;
  padding: 1% 3%;
}

.job-div-list {
  background: beige;
}

.job-div h3 {
  color:#003269;
}

.job-div-list h3 {
  color:#003269;
}


.logout {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 200px;
  height: 50px;
  position: absolute;
  top:0;
  right:0;
  color: #fff;
  background-color: #eb8518;
  border:none;
}

.logout:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.newjob-div {
  background: beige;
  width: 100%;
  padding: 5% 2%;
}

.newjob-div .single-input {
  width: 50%;
  height: 30px;
  margin-bottom: 2%;
  margin-top: 10px;
}

.newjob-div .text-input {
  height: 250px;
  margin-top: 10px;
  width: 70%;
  resize: none;
}

.newjob-btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #003269; ;
  border:none;
}

.newjob-btn:hover {
  background-color: #eb8518; /* Green */
  color: white;
}

ul.job-list-nav {
list-style-type: none;
}

label {
  font-size: 18px;
}

select {
  margin-top: 10px;
  width: 25%;
  height: 30px;
}